@model IEnumerable<Inventario.Models.Proveedores>

@{
    ViewBag.Title = "Index";
}
<center>
    <h2 class="text-danger">Listado de Proveedores</h2>
</center>
<button class="btn btn-default">
    @Html.ActionLink("+ Nuevo Registro", "Create")
</button>
<br><br>
<table class="table table-bordered table-hover table-striped table-responsive" >
    <tr style="background-color:darkturquoise; color:white;">
        <th class="text-center">
            Nombre
        </th>
        <th class="text-center">
            Direccion
        </th>
        <th class="text-center">
            Telefono
        </th>
        <th class="text-center">
            Empresa
        </th>
        <th class="text-center">
            Accion
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="text-center">
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.empresa)
            </td>
            <td class="text-center">
                @Html.ActionLink("Editar", "Edit", new { id = item.id }, new { @class = "btn btn-default" })
                @Html.ActionLink("Detalles", "Details", new { id = item.id }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Eliminar", "Delete", new { id = item.id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
