@model Inventario.Models.Factura

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 class="text-danger">Detalles de Factura</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Cliente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clientes.Nombre)
        </dd>

        <dt>
            Usuario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>


    </dl>
</div>
<br /><br />
  @{Html.RenderPartial("detallesCrear" , Model.Detalle_factura); }
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }, new { @class = "btn btn-warning" })
    <button class="btn btn-default">
        @Html.ActionLink("Regresar a la lista", "Index")
    </button>
</p>
